*{
    margin: 0px;
    padding: 0px;
}


::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    box-shadow: #fff;
    border-radius: 10px;
    border-color: #8f6dff;
}
::-webkit-scrollbar-thumb {
    background: #8f6dff; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #8f6dff; 
}
.modals{
    
    .modal-body{
        i{
            margin-right: 4px;
        }
        .manage_user{
            margin-right: 10px;
        }
        .list_user{
            font-size: 18px;
            font-weight: 500px;
        }
        .model_content{
            border: 1px solid #ddd;
            padding: 5px 5px;
            border-radius: 10px;
            margin-top: 10px;
            table.table_stt{
                width: 100%;
                font-size: 15px;
                font-weight: 500;
                input{
                    width: 100%;
                    padding: 3px 5px;
                    border-radius: 4px;
                }
                td,th{
                    padding: 18px 10px;
                    border: 1px solid #ddd;
                    background-color: #fbfaff;
                }
                td:nth-child(1),th:nth-child(1){
                    text-align: center;
                }
                tr.acctive_new td{
                    background:#8f6dff !important;
                    color: #ffffff;
                }
            }
            .form_finfo{
                padding: 20px 3px;
            }
            .hed_table{
                .title_hed{
                    width: 50%;
                    input{
                        padding: 3px 6px;
                        width: 100%;
                        border-radius: 4px;
                    }
                }
                display: flex;
                position: relative;
                min-height: 35px;
                margin-bottom: 12px;
                .check_all{
                    width: 55px;
                }
                .images_all{
                    min-width: 97px;
                    text-align: center;
                }
                .check{
                    input{
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                        height: 0;
                        width: 0;
                    }
                }
              
                .checkmark {
                    position: absolute;
                    top: 4px;
                    left: 17px;
                    height: 25px;
                    width: 25px;
                    background-color: #8f6dff ;
                }
                .check:hover input ~ .checkmark {
                    background-color: #8f6dff ;
                }
                  .container input:checked ~ .checkmark {
                    background-color: #2196F3;
                }
                .checkmark:after {
                    content: "";
                    position: absolute;
                    display: none;
                }
                .check input:checked ~ .checkmark:after {
                    display: block;
                  }
                .check .checkmark:after {
                    left: 9px;
                    top: 5px;
                    width: 5px;
                    height: 10px;
                    border: solid white;
                    border-width: 0 3px 3px 0;
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
                  }
                  
                  
            }
            .box_info-list{
                
                
                overflow-y: scroll;
                height: 300px;
                border: 1px solid #ddd;
                border-radius: 3px;
                
                .student_group{
                    span{
                        font-size: 15px;
                        font-weight: 700;
                    }
                }

                table{
                    font-size: 15px;
                    width: 100%;
                    th,td{
                        text-align: center;
                    }
                    th,td:nth-child(3){
                        text-align: center;
                    }
                    img{
                        width: 100%;
                        max-width: 50px;
                        border-radius: 5px;
                    }
                    td,th{
                        padding: 6px 10px;
                        border: 1px solid #ddd;
                        position: relative;
                        min-width: 40px;
                        
                    }
                    tr,th{
                        padding: 10px 10px;
                        border: none !important;
                        input{
                            padding: 5px 10px;
                        }
                    }
                    .name_text{
                        text-align: left;
                        span{
                            color: #78baf4;
                            padding-left: 8px;
                        }
                    }
                     td input {
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                        height: 0;
                        width: 0;
                    }
                    .checkmark {
                        position: absolute;
                        top: 16px;
                        left: 17px;
                        height: 23px;
                        width: 23px;
                        background-color: #eee;
                    }
                    // .check:hover input ~ .checkmark {
                    //     background-color: #ccc;
                    // }
                    input:checked ~ .checkmark {
                        background-color: #8f6dff;
                    }
                   
                    .checkmark:after {
                        content: "";
                        position: absolute;
                        display: none;
                    }
                    input:checked ~ .checkmark:after {
                        display: block;
                    }
                    .checkmark:after {
                        left: 9px;
                        top: 5px;
                        width: 5px;
                        height: 10px;
                        border: solid white;
                        border-width: 0 3px 3px 0;
                        -webkit-transform: rotate(45deg);
                        -ms-transform: rotate(45deg);
                        transform: rotate(45deg);
                      }
                      .info{
                        text-align: left;
                        display: flex;
                        flex-wrap: wrap;
                        div{
                            margin-right: 5px;
                        }
                        span{
                            font-size: 15px;
                            padding-left: 7px;
                            font-weight: 500px;
                        }
                      }
                }
                
                   
                
            }
            .btn_chon{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 20px;
                
            }
            tr.acctive_new td:nth-child(1) {
                position: relative;
            }
            tr.acctive_new td:nth-child(1)::before {
                content: "Nhóm mới";
                position: absolute;
                left: -6px;
                top: 0px;
                width: 66px;
                height: 17px;
                background: red;
                color: #fff;
                font-size: 10px;
                line-height: 17px;
            }
        }
    }
}